@import './iconfont.less';
.po-r{
  position: relative
}
.po-a{
  position: absolute
}
body{
  padding: 0;
  margin : 0;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.border-r50{
  border-radius: 50%;
}