@import './iconfont.less';
@import './transform.less';
.po-r{
  position: relative
}
.po-a{
  position: absolute
}
body{
  padding: 0;
  margin : 0;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.border-r50{
  border-radius: 50%;
}
.t-flex{
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.t-flex-1{
  flex: 1;
}

// ------------------------------------------- 滚动条样式
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 4px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #909399;
}